.ant-breadcrumb-link a {
  color: #1e3a8a !important;
  font-weight: 500;
  font-size: 16px !important;
}

.ant-breadcrumb-link {
  color: #1e3a8a !important;
  font-weight: 700 !important;
  font-size: 16px !important;
}

.ant-breadcrumb-separator {
  color: #1e3a8a !important;
}

.ant-btn-primary {
  background-color: #1e3a8a !important;
  color: #fff !important;
  padding: 18px !important;
}

.ant-btn-primary:hover {
  background-color: #2746b2 !important;
}

.ant-btn-primary:disabled {
  background-color: #a3aed0 !important;
}

.ant-spin-dot-holder {
  color: #2746b2 !important;
}

.ant-spin-text {
  color: #2746b2 !important;
}
